
body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
  color: #fff;
  background: #472d33;
  font-family: 'Muli', sans-serif;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */

header {
  max-width: 100%;
  height: 80px;
  padding: 5px;
  background: #382428;
}

.logo {
  float: left;
  font-family: 'Monda', sans-serif;
  /*font-size: 1.75em;*/
  margin-left: 4%;
  /*font-weight: 400;*/
}

nav {
  margin-right: 2%;
}

.nav-bar {
  padding: 0;
  margin: 0;
  float: right;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.nav-bar li {
    display: inline-block;
    padding: 30px 10px;
  }

.nav-bar a {
    padding: 5px;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
  }

img.logo{
  height: 80px;
  width: 200px;
  background: #d8b9cc;
  border-radius: 20px;
}

/* Section Styles */

.container {
  max-width: 85%;
  /*margin: 4em auto 0 auto;*/
  /*padding: .625em .625em 2em .625em;*/
  text-align: center;
  margin: auto auto 0 auto;
  padding: .625em .625em 2em .625em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.about-container{
  height: 60vh;
  background-image: url('ab-background.jpeg'),url('white.png');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 3em;
}

.main-heading {
  font-family: 'Monda', sans-serif;
  font-size: 3em;
  font-weight: 400;
}
/* Button Styles */

.button {
  padding: 20px 25px;
  margin: 2em .3em;
  background: #ba4662;
  font-size: .9em;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button:hover {
  background: #ae3c58;
}

.about-container > div h2{
  color: #c13b66;
  font-weight: bolder;
  font-size: 65px;
}
.about-container > div h5{
  color: #c13a52;
  font-weight: bolder;
  font-size: 30px;
}
.about-container > div div{
  text-align: center;
  padding: auto auto auto auto;
  margin: auto 5em auto 5em;
}
.about-container > div ol{
  display: flex;
  justify-content: space-around;
}
.about-container > div ol li h5{
  color: #c13a52;
  font-weight: bolder;
  font-size: 25px;
}
/* Media Queries */

@media only screen and (max-width: 800px) {
  .button {
    margin: .9em .3em;
    font-size: .8em;
  }
  .page-content {
    margin-bottom: 1.75em;
  }
}

@media only screen and (max-width: 630px) {
  .nav-bar li {
    padding: 30px 5px;
  }
  .nav-bar a {
    padding: 0;
  }
  .container {
    margin-top: 1.25em;
  }
}

@media only screen and (max-width: 480px) {
  .main-heading {
    font-size: 2.25em;
  }
  .page-content {
    font-size: .9em;
  }
  .logo {
    margin-left: 1%;
    font-size: 1.35em;
    padding: .55em inherit;
  }
  nav {
    margin-right: 1%;
  }
  .nav-bar a {
    font-size: .7em;
  }
}

.login-container{
  height: 60vh;
  background-image: linear-gradient(to bottom right, red, yellow);
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
}

.login-container div{
  width: 50%;
}
.login-container div form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-container div form h1{
  color: #051646;
}
.login-container div form div{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.login-container div form div label{
  font-size: 20px;
  font-weight: bolder;
}
.login-container div form div input[type='text'],input[type='date'],input[type='password'],input[type='email'],input[type='tel'], input[type='submit'], input[type='reset']{
  height: 40px;
  width: 60%;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 17px;
}
.login-container div form div input[type='submit'], input[type='reset']{
  font-size: 20px;
  font-weight: bolder;
}
.login-container div form div input[type='submit']{
  background-color: lightgreen;
}
.login-container div form div input[type='reset']{
  background-color: red;
}
.login-container div form div input[type='date']{
  vertical-align: middle;
}

footer{
  background: #382428;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
  height: 80px;
}
footer p a{
  color: lightblue;
}
footer p a:hover{
  color: cyan;
}
span#time-now{
  font-size: 20px;
  text-align: center;
  margin-left: 250px;
  position: relative;
  margin-top: 100px;
  top: 30px;
}